.versions-wrapper {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  padding: 0.5rem 0;
  background: linear-gradient(
    to left bottom,
    rgba(1, 5, 7, 0.781) 35%,
    rgba(9, 14, 26, 0.418) 90%
  );
  box-shadow: 0px 0px 5px 1px rgba(114, 113, 113, 0.205);
  .versions-list {
    padding: 0.2rem 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    overflow-y: auto;
    gap: 0.75rem;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      width: 0px;
    }
    &::-webkit-scrollbar-track {
      background: #00000000;
    }
    &::-webkit-scrollbar-thumb {
      background: #555;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #888;
    }
  }
  .item {
    cursor: pointer;
    width: 100%;
    display: flex;
    position: relative;
    min-height: 4.5rem;
    padding: 0.5rem;
    align-items: center;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    user-select: none;
    -webkit-user-select: none;
    background: linear-gradient(
      to left bottom,
      rgba(2, 2, 2, 0.692) 35%,
      rgba(7, 10, 17, 0.897) 90%
    );
    gap: 1rem;
    position: relative;
    transition: box-shadow 300ms ease;
    box-shadow: 0px 0px 3px 1px rgba(29, 38, 53, 0.342);
    &:hover {
      background-color: rgba(62, 113, 143, 0.068);
    }
    &.selected {
      box-shadow: 0px 0px 4px 1px rgba(41, 89, 192, 0.486);
      background: linear-gradient(
        to left bottom,
        rgba(0, 0, 0, 0.918) 35%,
        rgba(7, 10, 17, 0.897) 90%
      );
    }
    .version-avatar {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 10px;
      background-color: rgba(26, 22, 22, 0.432);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.75rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .extra {
    font-size: 0.8;
    opacity: 0.4;
  }
  .no-versions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    color: #666;
    height: 100%;

    h1 {
      font-size: 24px;
      margin-bottom: 12px;
      font-weight: 500;
    }

    p {
      font-size: 16px;
      color: #888;
    }
  }
}
