html {
  border-radius: 10px;
}

.window-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  // overflow: hidden;
}

.container {
  display: flex;
  background: linear-gradient(
    to left bottom,
    rgb(9, 10, 14) 35%,
    rgb(12, 17, 29) 90%
  );
  color: #ffffff;
  position: relative;
  height: calc(100% - 1.8rem);
}