.sl-input {
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  transition:
    background-color 0.2s,
    box-shadow 0.5s;
  background-color: #d0d0d0;
  &.active, &:hover {
    background-color: #fff;
    box-shadow: inset 0px 0px 2px 3px #8e40b78c;
  }
}
